<html>
    <head>
        <title>
            <%=title %>
        </title>
        <body>
            <h1> Playround</h1>
            <ul>
            <% for(let i=0;i<10;i++){%>
                <li>
                    <%=i%>
                </li>
            <%}%>

            <% if (true){%>
           <h1> HOOO</h1>             
                
        <%}else{%>
                <h1> Hey</h1>   
                 <%}%>
        </ul>
        </body>
    </head>
</html>